<!-- Side Navigation -->
        <nav class="side-nav">
            <h2 class="logo">Admin Dashboard</h2>
            <ul class="nav-links">
                <li><a href="/AdminPage/manage-bookings" class="active">Bookings</a></li>
                <li><a href="/AdminPage/manage-cars">Cars</a></li>
                <li><a href="/AdminPage/manage-users">Users</a></li>
                <li><a href="/AdminPage/reports-section">Reports</a></li>
            </ul>
            <a href="../LoginPage/login.html" class="logout" id="logout">Logout</a>
        </nav>