* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header{
    background-color: #1e1e1e;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    }
    
    .logo {
        text-decoration: none;
        color: #fffffe;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.8em;    
    }
    
    .navigation a{
        color: #EDEDED;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 500;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .navigation a:hover{
        color: #D4AF37;  
        text-shadow: 0 0 10px rgba(212, 175, 55, 0.8); 
    }

.main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #121212;
}

.info-card {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
    margin-top: 70px;
    border: 4px solid #D4AF37;
    align-content: center;
}

hr{
    border: none;
    border-top: 2px solid #D4AF37;
}

.vline{
    margin-top: 90px;
    width: 1.5px;
    height: 84vh;
    background-color: #D4AF37;
}

.info-card .info h2 {
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

ul{
    padding: 10px;
    margin: 10px;
    font-size: large;
    font-style:oblique;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.title{
    color: white;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    border: 2px solid #D4AF37;
    border-radius: 10px;

}

ul li{
    padding: 8px;
}

.availability, .info {
    background: #333;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #D4AF37;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.availability input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.availability h3{
    color: white;
    text-align: center;
}
.availability label{
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    background:#0f0e17;
    color:#bebe27;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: 900;
}

button:hover{
    transform: scale(1.1);
}

.car-image {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin: 10px;
    margin-top: 70px;
}

.carimage {
    height: auto;
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333; 
    border-radius: 8px;
    border: 4px solid #D4AF37;
}

.carimage img {
    width: 100%;
    height: auto;
    max-width: 50em;
    margin-bottom: 10px;
    object-fit: contain;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-desc{
    color: white;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
    word-spacing: 0.8px;
    letter-spacing: 0.05px;
}

summary{
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: larger;
}

.Pricing {
    border: 4px solid#D4AF37;
    color: white;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 20px;
    width: 50%;
    font-size: x-large;
    background-color: #333;
    border-radius: 10px;
    font-weight: bold;
}
.Pricing select{
    font-size: large;
    background-color: #333;
    color: #D4AF37;
    padding: 8px;
    margin: 8px;
}
.Pricing p{
    color: #D4AF37;
}

.CTA {
    background-color: #C70039;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: 0.7s ease;
}

.ctaText {
    color: #F8DE22;
    border: #F94C10 dotted 5px;
    padding: 10px;
    border-radius: 10px;
    animation: colorChange 3s infinite alternate;
}

.ctaText h1 {
    font-size: 50px;
}

.bookNowBtn{
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content:center;
        font-weight: 1000;
        font-size: larger;
}

.bookNowBtn a{
    text-decoration: none;
    color:#bebe27;
    font-weight: 900;
    background-color:#0f0e17;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    transition: 0.7s ease;
}

.bookNowBtn a:hover{
    transform: scale(1.1);
}

footer{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#121212;
}

footer hr{
    border: none;
    background-color: #ff8906;
    width: 2px;
    height: 70px;
    margin: 20px 10px;

}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

footer a{
    text-decoration: none;
    color: #fffffe;
}

footer a:hover{
    color: #ffffff;
}

.top a{
    margin-right: 20px;
}

footer p{
    color: #fffffe;
}

@keyframes colorChange {
    0% { color: red; }
    25% { color: green; }
    50% { color: blue; }
    75% { color: yellow; }
    100% { color: red; }
}

@media (max-width: 768px){
    box{
        width: 100%;
    }
}
    
