
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    

</head>
<body>
    
    <header>
        <a href="index.html" class="logo">Car Rental</a>
        <nav id="navbar" class="navigation">
            <a href="../CarListingPage/carlisting.html" >Cars</a>
            <a href="../LoginPage/login.html" >Login</a>
            <a href="../AdminPage/Admin.html" >Admin</a> 
            <a href="../ProfilePage/profile.html" >Profile</a> 
        </nav>
        
    </header>
<br>
    <section class="hero">
        <div class="browsebtn">
        <h1 id="wel">Welcome to our website</h1>
        <a href="../CarListingPage/carlisting.html">browse cars</a>
        </div>
    </section>

    <section class="featuredCars">
        <div class="cards">
            <div class="card">
                <div class="car-img">
                    <img src="../images/car1.jpg" alt="car">
                    <hr>
                </div>
                
                <div class="details">
                    <h2>Mercedes-Amg-GT53</h2>
                    <a href="../CarDetails/car-details.html">see</a>
                    <br>
                    
                </div>
                <div>
                    <p>Mercedes-AMG GT sedan, sporty, luxury, 831 hp and aggressive styling.</p>
                </div>
            </div>
            <div class="card">
                <div class="car-img">
                    <img src="../images/car2.jpg" alt="car">
                    <hr>
                </div>
                
                <div class="details">
                    <h2>Audi-RS7</h2>
                    <a href="../CarDetails/car-details.html">see</a>
                    <br>
                    
                </div>
                <div>
                    <p>Audi-RS7sedan, sporty, luxury, 700 hp and aggressive styling.</p>
                </div>
            </div>
            <div class="card">
                <div class="car-img">
                    <img src="../images/car3.jpg" alt="car">
                    <hr>
                </div>
                
                <div class="details">
                    <h2>Ford-Mustang</h2>
                    <a href="../CarDetails/car-details.html">see</a>
                    <br>
                    
                </div>
                <div>
                    <p>Ford-Mustang sedan, sporty, 600 hp and aggressive styling.</p>
                </div>
            </div>
            <div class="card">
                <div class="car-img">
                    <img src="../images/car4.jpg" alt="car">
                    <hr>
                </div>
                
                <div class="details">
                    <h2>Dodge-Challenger</h2>
                    <a href="../CarDetails/car-details.html">see</a>
                    <br>
                    
                </div>
                <div>
                    <p>Dodge-Challenger sedan, sporty, luxury, 759 hp and aggressive styling.</p>
                </div>
            </div>
            <div class="card">
                <div class="car-img">
                    <img src="../images/car5.jpg" alt="car">
                    <hr>
                </div>
                
                <div class="details">
                    <h2>Land-Rover</h2>
                    <a href="../CarDetails/car-details.html">see</a>
                    <br>
                    
                </div>
                <div>
                    <p>LandRover-Defender, SUV , sporty, luxury, 831 hp and aggressive styling.</p>
                </div>
            </div>
            <div class="card">
                <div class="car-img">
                    <img src="../images/car6.jpg" alt="car">
                    <hr>
                </div>
                
                <div class="details">
                    <h2>Mercedes-CLE200-Amg</h2>
                    <a href="../CarDetails/car-details.html">see</a>
                    <br>
                    
                </div>
                <div>
                    <p>Mercedes-CLE200-AMG coupe, sporty, luxury, 457 hp and aggressive styling.</p>
                </div>
                
            </div>
        </div>
    </section>
<!-- 
    <section class="CTA">
        <div class="ctaText">
            <h1>Don't wait!</h1>
            <h3>Be a part of our trip</h3>
        </div>
        <div class="bookBtn">
            <a href="../CarDetails/car-details.html">rent Now</a>
        </div>
    </section> -->

    
    
    <footer>
        <div class="copyRights">
            <p>&copy; 2025 YourWebsite.com. All rights reserved.</p>
        </div>
        <hr>
        <div class="contacts">
            <a href="mailto:abdulkader2307019@miuegypt.edu.eg">
                Email: abdulkader2307019@miuegypt.edu.eg                
            </a>
            <a href="tel:01150318798">
                Call Us: 01150318798                
            </a>
            <a href="https://facebook.com">Facebook</a> 
            <a href="https://twitter.com">Twitter</a> 
            <a href="https://instagram.com">Instagram</a>

        </div>
        <hr>
        <div class="top">
            <a href="#">Back to the Top ↑</a>
        </div>
    </footer>

    <script src="../HomePage/index.js"></script>

</body>


</html>