<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental Admin</title>
    <link rel="stylesheet" href="/css/Admin.css">
</head>

<body>
    <div class="dashboard">
        <%- include('../partials/side-bar.ejs') %>

        <!-- Main Content -->
        <main class="main-content">
            <!-- /////////////header section////////////// -->
             <%- include('../partials/header.ejs') %>

            <!-- /////////////////boking section///////// -->

            <!-- //////////////////car section///////////////// -->
            
            <!-- //////////////////////user section//////////////// -->
            
            <!-- Reports Section -->
            
            
        </main>
    </div>
        
</body>

</html>