<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental Admin</title>
    <link rel="stylesheet" href="/css/Admin.css">
</head>

<body>
    <div class="dashboard">
        <%- include('../partials/side-bar.ejs') %>

        <!-- Main Content -->
        <main class="main-content">
            <!-- /////////////header section////////////// -->
             <%- include('../partials/header.ejs') %>
<!-- Users Section -->
            <section id="users" class="content-section">
                <h2>Manage Users</h2>
                <div class="card">
                    <table id="users-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>phoneNumber</th>
                                <th>age</th>
                                <th>country</th>
                                <th>Gender</th>
                                <th>Booking counts</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>

                            </tr>
                                
                            
                            
                        </tbody>
                    </table>
                </div>
            </section>
                        </main>
    </div>
    <!-- <script src="/js/Admin.js"></script> -->
</body>

</html>